<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Galerie</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navi">
        <nav>
            <ul>
                {% for url in nav %}
                {% if url.method == "GET" %}
                <li><a href="{{url.route}}">{{url.name}}</a></li>
                {% elseif url.method == "POST" %}
                <li>
                    <form method="POST" action="{{url.route}}">
                        <button type="submit">{{url.name}}</button>
                    </form>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    <h1>Liste des galerie</h1>
    {% if connecte =="true"%}
    <a class="btnn btnn-a" href="{{urls.getGalerieForm}}">Nouvelle galerie</a>
    <div>
        <ul>
            {% if galeriesProprio is not defined %}
            {% else %}
                <h2>Mes galeries</h2>

                <div class="slide">
                    {% for galPro in galeriesProprio %}
                        <li class="content">
                            <a href="{{urls.getGalerie}}/{{ galPro.id }}">
                                <div class="ConvItem">
                                    <h3>{{ galPro.name }}</h3>
                                    <img src="{{galPro.imageUrl.imageUrl}}" alt="photo">
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </div>
            {% endif %}
            {% if galeriesPr is not defined %}
            {% else %}
            <h2>Liste privée</h2>
            <div class="slide">
                {% for galPr in galeriesPr %}
                <li class="content">
                    <a href="{{urls.getGalerie}}/{{ galPr.id }}">
                        <div class="ConvItem">
                            <h3>{{ galPr.name }}</h3>
                            <img src="{{galPr.imageUrl.imageUrl}}" alt="photo">
                        </div>
                    </a>
                </li>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
            <h2>Liste public</h2>
            <div class="slide">
                {% for galPu in galeriesPu %}
                <li class="content">
                    <a href="{{urls.getGalerie}}/{{ galPu.id }}">
                        <div class="ConvItem">
                            <h3>{{ galPu.name }}</h3>
                            <img src="{{galPu.imageUrl.imageUrl}}" alt="photo">
                        </div>
                    </a>
                </li>
                {% endfor %}
            </div>
        </ul>
    </div>
</body>
</html>