<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Galerie</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <div class="navi">
        <nav>
            <ul>
                {% for url in nav %}
                {% if url.method == "GET" %}
                <li><a href="{{url.route}}">{{url.name}}</a></li>
                {% elseif url.method == "POST" %}
                <li>
                    <form method="POST" action="{{url.route}}">
                        <button type="submit">{{url.name}}</button>
                    </form>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div>
        {% if acces == 3 %}
            <a class="btnn btnn-a" href="{{urls.getGalerieUpdate}}">Modifier la galerie</a>
            <a class="btnn btnn-a" href="{{urls.getAjoutImage}}">Ajouter une image</a>
            <a class="btnn btnn-a" href="{{urls.getGalerieAddUser}}">Ajouter Utilisateur</a>
            <a class="btnn btnn-a" href="{{urls.getGalerieAddGroup}}">Ajouter Groupe</a>
            <a class="btnn btnn-a" href="{{urls.getGalerieRemoveUser}}">Supprimer utilisateur</a>
            <a class="btnn btnn-a" href="{{urls.getGalerieRemoveGroup}}">Supprimer un groupe</a>
            <a class="btnn btnn-a" href="{{urls.getGalerieDelete}}">Supprimer la galerie</a>
            
        {% endif %}
        {% if acces == 2 %}
            <a class="btnn btnn-a" href="{{urls.getAjoutImage}}">Ajouter une image</a>
            <a class="btnn btnn-a" href="{{urls.getGalerieLeaveUser}}">Quitter galerie</a>
        {% endif %}

        {% if acces == 1 %}
            <a class="btnn btnn-a" href="{{urls.getGalerieLeaveUser}}">Quitter galerie</a>
        {% endif %}
        <br/>
        <h1>{{ name.nom }}</h1>
        <div>
            <p>date de création : {{ dateCrea }}</p>
            <p>createur : {{ createur }}</p>
            <p>mots clés : {{ motscles }}</p>
            <p>nombre de photos : {{ nbphotos }}</p>
        </div>
        <br/>
        <div class="slide">
            {% for picture in liste %}
            <li class="photo">
                <a href="{{urls.getImage}}/{{picture.imgId}}">
                    <div>
                        <img src="{{picture.imageUrl}}" alt="photo">
                        <p>{{ picture.name }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </div>
    </div>
</body>
</html>