<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Compte</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="navi">
    <nav>
        <ul>
            {% for url in nav %}
                {% if url.method == "GET" %}
                    <li><a href="{{url.route}}">{{url.name}}</a></li>
                {% elseif url.method == "POST" %}
                    <li>
                        <form method="POST" action="{{url.route}}">
                            <button type="submit">{{url.name}}</button>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
<div>
    <a class="btnn btnn-a" href="{{ GetAjouterMembresGroupe }}">Ajouter des membres</a>
    <p>Membres : <p>
        {% for m in membres %}
        <div>
            <li><p>{{ m.name }}</p>
                <form method="POST" action="{{postGroupeUserDelete.route}}">
                    <button id="delCom" type="submit">{{postGroupeUserDelete.name}}</button>
                </form>
            </li>
        </div>
{% endfor %}
</div>
</body>
</html>