<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="js/map.js"></script>

		<link rel="stylesheet" href="css/map.css"/>
		<link href="css/index.css" rel="stylesheet" type="text/css">
		<title>Carte</title>
	</head>

	<body onload="initialize()">
		<div class="navi">
			<nav>
				<ul>
					{% for url in nav %}
						{% if url.method == "GET" %}
							<li>
								<a href="{{url.route}}">{{url.name}}</a>
							</li>
						{% elseif url.method == "POST" %}
							<li>
								<form method="POST" action="{{url.route}}">
									<button type="submit">{{url.name}}</button>
								</form>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</div>
		<div id="container">
		<p id="usr">{{idusr}}</p>
			{% if connecte == true %}
				<div id="map"></div>
				<div id="listZone"></div>
				<div id="formulaire">
					<form class="addZone" onsubmit="return false">
						<div>
							<input type="text" id="nom" placeholder="Nom..." required>
						</div>
						<div>
							<input type="text" id="description" placeholder="Description..." required>
						</div>
						<input id="submit" type="submit" value="créer zone">
					</form>
					<input id="submit2" type="submit" value="fin zone">
				</div>
				<div id="formulaire2"></div>
				<div id="informationZone"></div>
			{% endif %}
		</div>
	</body>
</html>
