<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
</head>
<div class="navi">
    <nav>
        <ul>
            {% for url in nav %}
            {% if url.method == "GET" %}
            <li><a href="{{url.route}}">{{url.name}}</a></li>
            {% elseif url.method == "POST" %}
            <li>
                <form method="POST" action="{{url.route}}">
                    <button type="submit">{{url.name}}</button>
                </form>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
<body>
    <div>
        {% if acces == 3 %}
        <a class="btnn btnn-a" href="{{urls.getPhotoUpdate}}">Modifier la photo</a>
        <a class="btnn btnn-a" href="{{urls.getPhotoDelete}}">Supprimer la photo</a>
        {% endif %}
        {% if acces == 2 %}
        <a class="btnn btnn-a" href="{{urls.getPhotoUpdate}}">Modifier la photo</a>
        <a class="btnn btnn-a" href="{{urls.getPhotoDelete}}">Supprimer la photo</a>
        {% endif %}
        <a class="btnn btnn-a" href="{{urls.getImagePrev}}">prev</a>
        <a class="btnn btnn-a" href="{{urls.getImageNext}}">next</a>
    </div>
    
    <div class="cardPhoto">
        {% for picture in photo %}
        <h1>{{ picture.titre }}</h1>
        <div class="taillePhoto">
            <img id="photoGrand" src="{{ picture.imageUrl }}" alt="photo">
        </div>
        <div class="photoInfos">
            <p>date d'ajout : {{ picture.date }}</p>
            <p>mots clés : {{ picture.motscles }}</p>
        </div>
        {% endfor %}
    </div>
    <div id="taille" class="cardPhoto">
        <h2>Commentaires</h2>
        <div id="comment">
        {% for comments in commentaires %}
        <div class="contentMsg">
            <p class="usersCom"> {{ comments.user }} à dit :</p>
            <p> {{ comments.content }}</p>
            {% if acces == 3 %}
            <form method="POST" action="{{postMessageDelete.route}}">
                <button id="delCom" type="submit">{{postMessageDelete.name}}</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <form  action="{{ urls.postMessage }}" method="post">
            <div class="form-group">
                <input class="form-control" id="message-input-content" name="message-input-content" type="text" placeholder="Message">
                <input class="btn btn-primary btn-block btn-lg mt-1 mb-2" style='margin-bottom: 9px;' type="submit" value="Envoyer">
            </div>
        </form>
    </div>
</body>
</html>